body {
	margin: 0;
}

div {
	box-sizing: border-box;
}

.container {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
	display: flex;
	width: 100%;
  height: 100px;
  line-height: 100px;
  justify-content: center;
  font-size: 40px;
  background-color: #0da95f;
  color: white;
  font-weight: bold;
}

.form-content {
	width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 0 1px;    
}

.form-item {
	flex: 1 0 1px;
  display: flex;
  position: relative;
}

.form-item + .form-item {
	margin-top: 20px;
}

.input-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 38px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  background: #cdd8e0;
  border: 0;
  cursor: pointer;	
}

.input-container input, select {
	background: transparent;
	border: none;
	outline: 0;
}

button {
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  max-height: 70px;
  color: white;
  background: #0da95f;
}

input {
	border-radius: 5px;
	padding: 25px 20px 15px;
	border: 1px solid gray;
}

.date, .amount, .input-container, .btn-container {
	max-height: 150px;
}

.comment-box {
	max-height: 300px;
}

input, select, button {
	width: 100%;
  font-size: 50px;
	font-family: sans-serif;
}

.recent-entries {
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 20px;
  padding-top: 0;
}

thead {
	line-height: 50px;
  background: #0da95f;
  color: white;
}

tbody .entry-row {
	height: 40px;
}

.placeholder {
	position: absolute;
  display: none;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  color: gray;	
}

.hidden-element {
	visibility: hidden;
}


/*input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}*/


/*Loading Icon CSS (source: http://tobiasahlin.com/spinkit/) */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0da95f;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}